<footer class="bg-dark text-white text-center p-3 mt-5">
    <div class="container">
        <p class="mb-1">&copy; </p>
        <small>부분 템플릿으로 관리되는 푸터입니다</small>
    </div>
</footer>
</body>
</html>